h1,
h2,
h3,
h4 {
    font-weight: $font-weight-bold;
    line-height: 1.2;
    color: $color-black;
    margin-bottom: 2rem;
}

h1 {
    font-size: 5.6rem;
    letter-spacing: -1px;

    @include respond-to(small) {
        font-size: 4rem;
    }
}

h2 {
    font-size: 4rem;
    text-align: center;
    position: relative;
    padding-bottom: 2rem;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 8rem;
        height: 0.6rem;
        background-color: $color-secondary;
        border-radius: 1rem;
    }
}

h3 {
    font-size: 2.4rem;
}

p {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
}

.highlight {
    color: $color-primary;
    position: relative;
    z-index: 1;

    &::after {
        content: '';
        position: absolute;
        bottom: 10%;
        left: 0;
        width: 100%;
        height: 30%;
        background-color: rgba($color-primary, 0.1);
        z-index: -1;
    }
}

.section-title {
    margin-bottom: 6rem;
}