.header {
    height: 10rem;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    align-items: center;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    &__logo {
        display: flex;
        align-items: center;
        gap: 1rem;
        font-size: 2.8rem;
        font-weight: 800;
        color: $color-black;

        &-icon {
            font-size: 3.2rem;
        }

        &-text {
            span {
                color: $color-primary;
            }
        }
    }
}

.nav {
    &__list {
        display: flex;
        align-items: center;
        gap: 4rem;

        @include respond-to(medium) {
            gap: 2rem;
        }

        @include respond-to(small) {
            display: none;
        }
    }

    &__link {
        font-size: 1.6rem;
        font-weight: 600;
        color: $color-text;
        transition: $transit-normal;

        &:hover {
            color: $color-primary;
        }

        &--btn {
            background-color: $color-primary;
            color: white;
            padding: 1rem 2.5rem;
            border-radius: 5rem;

            &:hover {
                background-color: $color-primary-dark;
                color: white;
                transform: translateY(-2px);
            }
        }
    }
}