/* ESTRUCTURA */
.btn {
    display: inline-flex;
    padding: 0.75rem 1.5rem;
    border-radius: var(--radius-md);
    font-weight: 600;
    cursor: pointer;
}

.card {
    border-radius: var(--radius-lg);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/* PIEL*/
.theme-primary {
    background: var(--primary-color);
    color: #fff;
}

.shadow-md {
    box-shadow: var(--shadow-md);
}

.border-accent {
    border: 1px solid var(--accent-color);
}